.footer-container {

    display        : flex;
    width          : 100%;
    grid-gap       : 20px;
    gap            : 20px;
    height         : auto;
    text-align     : justify;
    justify-content: center;
    padding        : 12px;
    margin         : 0px;
    align-items    : center;
    justify-content: space-between;
    text-align     : justify;

    .footer-left,
    .footer-center,
    .footer-right,
    .footer-extra {
        width: 25%;


        h2 {
            font-size  : 20px;
            line-height: 17px;
            padding    : 10px 0;
            color      : yellow;
            font-weight: 700;
        }

        ul {
            list-style-type: none;
            padding        : 0;

            li {
                color    : white;
                font-size: 18px;
                padding  : 5px 0px;

                &:hover {
                    cursor     : pointer;
                    color      : deeppink;
                    font-weight: bold;
                }

                a {
                    text-decoration: none;
                    color          : white;

                    &:hover {
                        cursor     : pointer;
                        color      : deeppink;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .footer-right {
        .social {
            li {
                i {
                    padding-right: 10px;
                }
            }
        }
    }

    .footer-extra {
        form {
            margin: 10px;

            input[type="text"] {
                border             : 2px;
                border-radius      : 2px;
                padding            : 5px;
                font-family        : "Labrada", serif;
                font-optical-sizing: auto;
            }

            button[type="submit"] {
                border          : 2px;
                border-radius   : 2px;
                background-color: aqua;
                margin          : 0 10px;
                padding         : 5px 17px;
            }
        }
    }
}

.footer-copyright {
    text-align: center;

    hr {
        width: 80%;
    }
}