body {
    background-color: #000000;
    color           : white;
    font-family     : 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    width  : 100%;
    height : 80px;

    .logo {
        width           : 16%;
        float           : left;
        display         : flex;
        justify-content : center;
        align-items     : center;
        height          : 100%;
        background-image: url("../../assets/image/logo_web3.png");
        background-size : cover;
    }

    nav {
        display        : flex;
        justify-content: center;
        line-height    : 40px;
        width          : 72%;
        float          : right;

        ul {
            list-style  : none;
            display     : flex;
            padding-left: 5px;

            &.menu {
                li {
                    padding   : 10px 20px;
                    text-align: left;

                    &.menu-item {
                        position     : relative;
                        margin-bottom: -16px;

                        a {
                            text-decoration : none;
                            color           : #fff;
                            padding         : 10px 20px;
                            display         : inline-block;
                            background-color: #000000;
                            border-radius   : 5px;
                            transition      : background-color 0s;
                            font-size       : 18px;

                            img {
                                &.profile-logo {
                                    width        : 32px;
                                    height       : 32px;
                                    border-radius: 50%;
                                    cursor       : pointer;
                                }

                            }

                            &:hover {
                                color           : orange;
                                background-color: #0E0F11;
                                cursor          : pointer;
                                font-weight     : bold;
                            }
                        }

                        &:hover .submenu {
                            display: block;
                        }

                        .submenu {
                            position        : absolute;
                            top             : 100%;
                            left            : 0;
                            background-color: #000000;
                            display         : none;
                            border-radius   : 5px;
                            min-width       : 200px;
                            z-index         : 1;

                            li {
                                background-color: #000000;
                                width           : 100%;

                                a {
                                    width           : 100%;
                                    padding         : 10px;
                                    display         : block;
                                    color           : #fff;
                                    background-color: #000000;
                                    transition      : background-color 0s;

                                    &:hover {
                                        color           : orange;
                                        background-color: #0E0F11;
                                    }
                                }

                                &:hover {
                                    background-color: #0E0F11;
                                }

                                &.submenu-item {
                                    position   : relative;
                                    display    : flex;
                                    align-items: center;

                                    .logo-nation {
                                        width : 20%;
                                        height: 20%;

                                    }

                                    &:hover .sub-submenu {
                                        display: block;
                                    }

                                    .sub-submenu {
                                        position        : absolute;
                                        top             : 0;
                                        left            : 100%;
                                        background-color: #0d0d0e;
                                        display         : none;
                                        border-radius   : 5px;
                                        min-width       : 200px;
                                        z-index         : 1;

                                        li {
                                            background-color: #0E0F11;

                                            &:hover {
                                                background-color: #1b1b1c;
                                            }

                                            a {
                                                text-decoration : none;
                                                padding         : 10px;
                                                display         : block;
                                                color           : #fff;
                                                background-color: #0E0F11;
                                                transition      : background-color 0s;

                                                &:hover {
                                                    color           : orange;
                                                    background-color: #1b1b1c;
                                                }
                                            }
                                        }

                                        &:hover {
                                            background-color: #0E0F11;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// .profile .submenu {
//     display         : none;
//     position        : absolute;
//     background-color: white;
//     border          : 1px solid #ccc;
//     padding         : 8px;
//     border-radius   : 4px;
// }

// .profile:hover .submenu {
//     display: block;
// }