 /* Hero Section */
 .hero-section {
     text-align: center;
     padding   : 150px 20px;
     background: linear-gradient(135deg, #3d0149, #0b0850 50%, #000000);
     mask-image: linear-gradient(to bottom, hsl(0 0% 0% / 1) 0%, hsl(0 0% 0% / 1) 90%, hsl(0 0% 0% / 0));

     .btn-wallet,
     .btn-connect-wallet {
         background-color: #fff;
         color           : #000000;
         border-radius   : 9999px;
         margin-right    : 50px;
         font-weight     : bold;
         width           : auto;

         &:hover {
             color: #fff;
         }
     }

     h1 {
         font-weight            : bold;
         font-size              : 50px;
         margin-bottom          : 20px;
         color                  : white;
         -webkit-background-clip: text;

         .animation-opensource {
             cursor                 : pointer;
             position               : relative;
             display                : inline-block;
             background             : linear-gradient(88deg, #fff, #2184aa 50%, #a9244f 60%, #fff 90%);
             -webkit-background-clip: text;
             background-clip        : text;
             color                  : transparent;
             background-size        : 200% 100%;
             animation              : opensource_slideGradient__9k42O 4s linear infinite;
         }


         @keyframes opensource_slideGradient__9k42O {
             0% {
                 background-position: 0 50%
             }

             to {
                 background-position: -200% 50%
             }
         }
     }

     p {
         font-size    : 20px;
         margin-bottom: 50px;
         color        : #d1d1d1;
     }

     button {
         padding         : 15px 30px;
         background-color: #5f5dff;
         border          : none;
         color           : white;
         cursor          : pointer;
         font-size       : 18px;
         border-radius   : 5px;
         transition      : background-color 0.3s ease;

         &:hover {
             background-color: #4a4aff;
         }
     }

 }

 .logo-marquee {
     display   : flex;
     overflow  : hidden;
     mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 10%, hsl(0 0% 0% / 1) 90%, hsl(0 0% 0% / 0));
     padding   : 20px 0;
     margin    : 50px auto;
     height    : 200px;
     max-width : 1280px;
     position  : relative;

     .logo-track {
         position : absolute;
         top      : 10%;
         display  : flex;
         gap      : 60px;
         animation: scrollMarquee 27s linear infinite;

         img {
             height: 40px;
             width : auto;
             filter: brightness(0) invert(1);
         }

         @keyframes scrollMarquee {
             0% {
                 transform: translateX(100%);
             }

             100% {
                 transform: translateX(-100%);
             }
         }
     }



     .logo-track-reverse {
         position : absolute;
         display  : flex;
         gap      : 60px;
         animation: scrollMarqueeReverse 28s linear infinite;
         top      : 60%;

         img {
             height: 40px;
             width : auto;
             filter: brightness(0) invert(1);
         }

         @keyframes scrollMarqueeReverse {
             0% {
                 transform: translateX(-100%);
             }

             100% {
                 transform: translateX(100%);
             }
         }
     }
 }

 .css-1jx91x0 {
     display              : grid;
     grid-gap             : 1.5rem;
     grid-template-columns: repeat(1, minmax(0, 1fr));
     margin               : 10rem;

     .css-1vrsic3 {
         display               : -webkit-box;
         display               : -webkit-flex;
         display               : -ms-flexbox;
         display               : flex;
         box-shadow            : 0 1px 2px 0 rgba(0, 0, 0, 0.05);
         -webkit-padding-start : 1rem;
         padding-inline-start  : 1rem;
         -webkit-padding-end   : 1rem;
         padding-inline-end    : 1rem;
         padding-top           : 1rem;
         padding-bottom        : 1rem;
         border-radius         : 0.75rem;
         border                : 2px solid #1C1C1E;
         width                 : 100%;
         gap                   : 2.5rem;
         -webkit-flex-direction: column;
         -ms-flex-direction    : column;
         flex-direction        : column;
         padding               : 1.5rem;
         z-index               : 999;
         background            : transparent;



         .css-ahthbn {
             display               : -webkit-box;
             display               : -webkit-flex;
             display               : -ms-flexbox;
             display               : flex;
             -webkit-flex-direction: column;
             -ms-flex-direction    : column;
             flex-direction        : column;
             gap                   : 1.5rem;

             .css-11nrrcx {
                 display               : -webkit-box;
                 display               : -webkit-flex;
                 display               : -ms-flexbox;
                 display               : flex;
                 -webkit-flex-direction: column;
                 -ms-flex-direction    : column;
                 flex-direction        : column;
                 gap                   : 0.75rem;

                 .css-1vakbk4 {
                     display: -webkit-box;
                     display: -webkit-flex;
                     display: -ms-flexbox;
                     display: flex;
                     gap    : .5rem;

                     .css-1v790t6 {
                         font-family   : Arial, Helvetica, sans-serif;
                         color         : #F2F2F7;
                         font-size     : 3.5rem;
                         font-weight   : 700;
                         line-height   : 1.125;
                         letter-spacing: 0.15px;
                         text-transform: capitalize;
                     }
                 }

                 .css-12f876q {
                     color         : #AEAEB2;
                     font-size     : 0.875rem;
                     font-weight   : 400;
                     line-height   : 1.6;
                     letter-spacing: initial;
                     max-width     : 320px;
                     height        : 3rem;
                     text-align    : justify;
                 }

             }

             .css-o2ldmt {
                 display               : -webkit-box;
                 display               : -webkit-flex;
                 display               : -ms-flexbox;
                 display               : flex;
                 -webkit-flex-direction: column;
                 -ms-flex-direction    : column;
                 flex-direction        : column;
                 gap                   : 0.125rem;

                 .css-1juabkl {
                     display            : -webkit-box;
                     display            : -webkit-flex;
                     display            : -ms-flexbox;
                     display            : flex;
                     -webkit-align-items: center;
                     -webkit-box-align  : center;
                     -ms-flex-align     : center;
                     align-items        : center;
                     gap                : 0.5rem;



                     .css-yexrf0 {
                         font-family   : Arial, Helvetica, sans-serif;
                         color         : #F2F2F7;
                         font-size     : 3rem;
                         font-weight   : 700;
                         line-height   : 1;
                         letter-spacing: 0.15px;
                     }

                     .css-pvagxz {
                         color         : #AEAEB2;
                         font-size     : 1rem;
                         font-weight   : 400;
                         line-height   : 1.6;
                         letter-spacing: initial;
                     }
                 }

                 @media screen and (min-width: 48em) {
                     .css-1juabkl {
                         -webkit-align-items: flex-end;
                         -webkit-box-align  : flex-end;
                         -ms-flex-align     : flex-end;
                         align-items        : flex-end;
                     }
                 }
             }

         }

         .css-1m1sj5m {
             display               : -webkit-box;
             display               : -webkit-flex;
             display               : -ms-flexbox;
             display               : flex;
             -webkit-box-flex      : 1;
             -webkit-flex-grow     : 1;
             -ms-flex-positive     : 1;
             flex-grow             : 1;
             -webkit-flex-direction: column;
             -ms-flex-direction    : column;
             flex-direction        : column;
             gap                   : 0.75rem;
             -webkit-align-items   : flex-start;
             -webkit-box-align     : flex-start;
             -ms-flex-align        : flex-start;
             align-items           : flex-start;

             .css-1uqaien {
                 display            : -webkit-box;
                 display            : -webkit-flex;
                 display            : -ms-flexbox;
                 display            : flex;
                 gap                : 0.5rem;
                 -webkit-align-items: flex-start;
                 -webkit-box-align  : flex-start;
                 -ms-flex-align     : flex-start;
                 align-items        : flex-start;

                 .css-7xl85z {
                     width              : 1.25rem;
                     height             : 1.25rem;
                     display            : inline-block;
                     line-height        : 1em;
                     -webkit-flex-shrink: 0;
                     -ms-flex-negative  : 0;
                     flex-shrink        : 0;
                     color              : currentColor;
                     margin-top         : 0.125rem;
                 }

                 .css-1aagtwh {
                     display            : -webkit-box;
                     display            : -webkit-flex;
                     display            : -ms-flexbox;
                     display            : flex;
                     -webkit-align-items: center;
                     -webkit-box-align  : center;
                     -ms-flex-align     : center;
                     align-items        : center;
                     justify-items      : center;
                     gap                : 0.5rem;
                     text-align         : justify;

                     .css-jqypxo {
                         display       : flex;
                         color         : #AEAEB2;
                         font-size     : 0.875rem;
                         font-weight   : 400;
                         line-height   : 1.6;
                         letter-spacing: initial;
                         text-align    : justify;
                     }

                     .css-764ymq {
                         display      : none;
                         margin-bottom: calc(0.125rem * -1);



                         .css-1odaobc {
                             width              : 1rem;
                             height             : 1rem;
                             display            : inline-block;
                             line-height        : 1em;
                             -webkit-flex-shrink: 0;
                             -ms-flex-negative  : 0;
                             flex-shrink        : 0;
                             color              : #3385FF;
                             position           : relative;
                             top                : 0.125rem;
                         }
                     }

                     @media screen and (min-width: 48em) {
                         .css-764ymq {
                             display: block;
                         }
                     }

                     .css-7l74i4 {
                         color         : #AEAEB2;
                         font-size     : 0.875rem;
                         font-weight   : 400;
                         line-height   : 1.6;
                         letter-spacing: initial;
                         min-width     : -webkit-max-content;
                         min-width     : -moz-max-content;
                         min-width     : max-content;
                         display       : block;


                     }

                     @media screen and (min-width: 48em) {
                         .css-7l74i4 {
                             display: none;
                         }
                     }
                 }
             }
         }

         .css-164iyj1 {
             display               : -webkit-box;
             display               : -webkit-flex;
             display               : -ms-flexbox;
             display               : flex;
             -webkit-flex-direction: column;
             -ms-flex-direction    : column;
             flex-direction        : column;
             gap                   : 0.75rem;
             position              : relative;
             margin-bottom         : 0.75rem;

             .css-1v413bu {
                 transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
                 transition-duration       : 150ms;
                 transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
                 cursor                    : pointer;
                 -webkit-text-decoration   : none;
                 text-decoration           : none;
                 outline                   : 2px solid transparent;
                 outline-offset            : 2px;
                 color                     : inherit;
                 display                   : -webkit-inline-box;
                 display                   : -webkit-inline-flex;
                 display                   : -ms-inline-flexbox;
                 display                   : inline-flex;
                 -webkit-appearance        : none;
                 -moz-appearance           : none;
                 -ms-appearance            : none;
                 appearance                : none;
                 -webkit-align-items       : center;
                 -webkit-box-align         : center;
                 -ms-flex-align            : center;
                 align-items               : center;
                 -webkit-box-pack          : center;
                 -ms-flex-pack             : center;
                 -webkit-justify-content   : center;
                 justify-content           : center;
                 -webkit-user-select       : none;
                 -moz-user-select          : none;
                 -ms-user-select           : none;
                 user-select               : none;
                 position                  : relative;
                 white-space               : nowrap;
                 vertical-align            : middle;
                 outline                   : 2px solid transparent;
                 outline-offset            : 2px;
                 border-radius             : 0.375rem;
                 transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
                 transition-duration       : 200ms;
                 height                    : 2.5rem;
                 min-width                 : 2.5rem;
                 -webkit-padding-start     : 1rem;
                 padding-inline-start      : 1rem;
                 -webkit-padding-end       : 1rem;
                 padding-inline-end        : 1rem;
                 border                    : 1px solid;
                 border-color              : hsl(0 0% 15%);
                 color                     : rgba(255, 255, 255, 0.9);
                 border-width              : 1px;
                 font-weight               : 600;
                 line-height               : 1;
                 letter-spacing            : initial;
                 font-size                 : 1rem;
                 padding-top               : 1.5rem;
                 padding-bottom            : 1.5rem;
                 -webkit-text-decoration   : none !important;
                 text-decoration           : none !important;
             }
         }


     }

     .css-y4kmsg {
         display                : -webkit-box;
         display                : -webkit-flex;
         display                : -ms-flexbox;
         display                : flex;
         -webkit-align-items    : center;
         -webkit-box-align      : center;
         -ms-flex-align         : center;
         align-items            : center;
         -webkit-box-pack       : center;
         -ms-flex-pack          : center;
         -webkit-justify-content: center;
         justify-content        : center;
         position               : relative;
         padding                : 0.5rem;
         margin                 : calc(0.5rem * -1);

         .css-qa2pfb {
             position        : absolute;
             background-image: linear-gradient(to right, #2314a5, #7303c0);
             top             : 0px;
             left            : 0px;
             bottom          : 0px;
             right           : 0px;
             border-radius   : 1.5rem;
             overflow        : visible;
             -webkit-filter  : blur(8px);
             filter          : blur(8px);
         }

         .css-15r8kd8 {
             display               : -webkit-box;
             display               : -webkit-flex;
             display               : -ms-flexbox;
             display               : flex;
             box-shadow            : 0 1px 2px 0 rgba(0, 0, 0, 0.05);
             -webkit-padding-start : 1rem;
             padding-inline-start  : 1rem;
             -webkit-padding-end   : 1rem;
             padding-inline-end    : 1rem;
             padding-top           : 1rem;
             padding-bottom        : 1rem;
             border-radius         : 0.75rem;
             border-width          : 1px;
             border-color          : #1C1C1E;
             width                 : 100%;
             gap                   : 2.5rem;
             -webkit-flex-direction: column;
             -ms-flex-direction    : column;
             flex-direction        : column;
             padding               : 1.5rem;
             z-index               : 999;
             background            : #000000;

             .css-ahthbn {
                 display               : -webkit-box;
                 display               : -webkit-flex;
                 display               : -ms-flexbox;
                 display               : flex;
                 -webkit-flex-direction: column;
                 -ms-flex-direction    : column;
                 flex-direction        : column;
                 gap                   : 1.5rem;

                 .css-11nrrcx {
                     display               : -webkit-box;
                     display               : -webkit-flex;
                     display               : -ms-flexbox;
                     display               : flex;
                     -webkit-flex-direction: column;
                     -ms-flex-direction    : column;
                     flex-direction        : column;
                     gap                   : 0.75rem;

                     .css-1vakbk4 {
                         display: -webkit-box;
                         display: -webkit-flex;
                         display: -ms-flexbox;
                         display: flex;
                         gap    : .5rem;

                         .css-1v790t6 {
                             font-family   : Arial, Helvetica, sans-serif;
                             color         : #F2F2F7;
                             font-size     : 3.5rem;
                             font-weight   : 700;
                             line-height   : 1.125;
                             letter-spacing: 0.15px;
                             text-transform: capitalize;
                         }
                     }

                     .css-12f876q {
                         color         : #AEAEB2;
                         font-size     : 0.875rem;
                         font-weight   : 400;
                         line-height   : 1.6;
                         letter-spacing: initial;
                         max-width     : 320px;
                         height        : 3rem;
                         text-align    : justify;
                     }

                 }

                 .css-o2ldmt {
                     display               : -webkit-box;
                     display               : -webkit-flex;
                     display               : -ms-flexbox;
                     display               : flex;
                     -webkit-flex-direction: column;
                     -ms-flex-direction    : column;
                     flex-direction        : column;
                     gap                   : 0.125rem;

                     .css-1juabkl {
                         display            : -webkit-box;
                         display            : -webkit-flex;
                         display            : -ms-flexbox;
                         display            : flex;
                         -webkit-align-items: center;
                         -webkit-box-align  : center;
                         -ms-flex-align     : center;
                         align-items        : center;
                         gap                : 0.5rem;



                         .css-yexrf0 {
                             font-family   : Arial, Helvetica, sans-serif;
                             color         : #F2F2F7;
                             font-size     : 3rem;
                             font-weight   : 700;
                             line-height   : 1;
                             letter-spacing: 0.15px;
                         }

                         .css-pvagxz {
                             color         : #AEAEB2;
                             font-size     : 1rem;
                             font-weight   : 400;
                             line-height   : 1.6;
                             letter-spacing: initial;
                         }
                     }

                     @media screen and (min-width: 48em) {
                         .css-1juabkl {
                             -webkit-align-items: flex-end;
                             -webkit-box-align  : flex-end;
                             -ms-flex-align     : flex-end;
                             align-items        : flex-end;
                         }
                     }
                 }

                 .css-1m1sj5m {
                     display               : -webkit-box;
                     display               : -webkit-flex;
                     display               : -ms-flexbox;
                     display               : flex;
                     -webkit-box-flex      : 1;
                     -webkit-flex-grow     : 1;
                     -ms-flex-positive     : 1;
                     flex-grow             : 1;
                     -webkit-flex-direction: column;
                     -ms-flex-direction    : column;
                     flex-direction        : column;
                     gap                   : 0.75rem;
                     -webkit-align-items   : flex-start;
                     -webkit-box-align     : flex-start;
                     -ms-flex-align        : flex-start;
                     align-items           : flex-start;

                     .css-1uqaien {
                         display            : -webkit-box;
                         display            : -webkit-flex;
                         display            : -ms-flexbox;
                         display            : flex;
                         gap                : 0.5rem;
                         -webkit-align-items: flex-start;
                         -webkit-box-align  : flex-start;
                         -ms-flex-align     : flex-start;
                         align-items        : flex-start;

                         .css-7xl85z {
                             width              : 1.25rem;
                             height             : 1.25rem;
                             display            : inline-block;
                             line-height        : 1em;
                             -webkit-flex-shrink: 0;
                             -ms-flex-negative  : 0;
                             flex-shrink        : 0;
                             color              : currentColor;
                             margin-top         : 0.125rem;
                         }

                         .css-1aagtwh {
                             display            : -webkit-box;
                             display            : -webkit-flex;
                             display            : -ms-flexbox;
                             display            : flex;
                             -webkit-align-items: center;
                             -webkit-box-align  : center;
                             -ms-flex-align     : center;
                             align-items        : center;
                             justify-items      : center;
                             gap                : 0.5rem;

                             .css-jqypxo {
                                 color         : #AEAEB2;
                                 font-size     : 0.875rem;
                                 font-weight   : 400;
                                 line-height   : 1.6;
                                 letter-spacing: initial;
                                 text-align    : justify;
                             }

                             .css-764ymq {
                                 display      : none;
                                 margin-bottom: calc(0.125rem * -1);



                                 .css-1odaobc {
                                     width              : 1rem;
                                     height             : 1rem;
                                     display            : inline-block;
                                     line-height        : 1em;
                                     -webkit-flex-shrink: 0;
                                     -ms-flex-negative  : 0;
                                     flex-shrink        : 0;
                                     color              : #3385FF;
                                     position           : relative;
                                     top                : 0.125rem;
                                 }
                             }

                             @media screen and (min-width: 48em) {
                                 .css-764ymq {
                                     display: block;
                                 }
                             }

                             .css-7l74i4 {
                                 color         : #AEAEB2;
                                 font-size     : 0.875rem;
                                 font-weight   : 400;
                                 line-height   : 1.6;
                                 letter-spacing: initial;
                                 min-width     : -webkit-max-content;
                                 min-width     : -moz-max-content;
                                 min-width     : max-content;
                                 display       : block;


                             }

                             @media screen and (min-width: 48em) {
                                 .css-7l74i4 {
                                     display: none;
                                 }
                             }
                         }
                     }
                 }
             }

         }

         @media screen and (min-width: 48em) {
             .css-15r8kd8 {
                 padding: 2.5rem;
             }
         }
     }



 }

 @media screen and (min-width: 48em) {
     .css-1vrsic3 {
         padding: 2.5rem;
     }
 }

 @media screen and (min-width: 80em) {
     .css-1jx91x0 {
         grid-gap             : 2rem;
         grid-template-columns: repeat(3, minmax(0, 1fr));
     }
 }

 .css-ahthbn {
     display               : -webkit-box;
     display               : -webkit-flex;
     display               : -ms-flexbox;
     display               : flex;
     -webkit-flex-direction: column;
     -ms-flex-direction    : column;
     flex-direction        : column;
     gap                   : 1.5rem;

     .css-11nrrcx {
         display               : -webkit-box;
         display               : -webkit-flex;
         display               : -ms-flexbox;
         display               : flex;
         -webkit-flex-direction: column;
         -ms-flex-direction    : column;
         flex-direction        : column;
         gap                   : 0.75rem;

         .css-1vakbk4 {
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             gap    : .5rem;

             .css-1v790t6 {
                 font-family   : Arial, Helvetica, sans-serif;
                 color         : #F2F2F7;
                 font-size     : 3.5rem;
                 font-weight   : 700;
                 line-height   : 1.125;
                 letter-spacing: 0.15px;
                 text-transform: capitalize;
             }
         }

         .css-12f876q {
             color         : #AEAEB2;
             font-size     : 0.875rem;
             font-weight   : 400;
             line-height   : 1.6;
             letter-spacing: initial;
             max-width     : 320px;
             height        : 3rem;
             text-align    : justify;
         }

     }

     .css-o2ldmt {
         display               : -webkit-box;
         display               : -webkit-flex;
         display               : -ms-flexbox;
         display               : flex;
         -webkit-flex-direction: column;
         -ms-flex-direction    : column;
         flex-direction        : column;
         gap                   : 0.125rem;

         .css-1juabkl {
             display            : -webkit-box;
             display            : -webkit-flex;
             display            : -ms-flexbox;
             display            : flex;
             -webkit-align-items: center;
             -webkit-box-align  : center;
             -ms-flex-align     : center;
             align-items        : center;
             gap                : 0.5rem;



             .css-yexrf0 {
                 font-family   : Arial, Helvetica, sans-serif;
                 color         : #F2F2F7;
                 font-size     : 3rem;
                 font-weight   : 700;
                 line-height   : 1;
                 letter-spacing: 0.15px;
             }

             .css-pvagxz {
                 color         : #AEAEB2;
                 font-size     : 1rem;
                 font-weight   : 400;
                 line-height   : 1.6;
                 letter-spacing: initial;
             }
         }

         @media screen and (min-width: 48em) {
             .css-1juabkl {
                 -webkit-align-items: flex-end;
                 -webkit-box-align  : flex-end;
                 -ms-flex-align     : flex-end;
                 align-items        : flex-end;
             }
         }
     }

 }

 .css-1m1sj5m {
     display               : -webkit-box;
     display               : -webkit-flex;
     display               : -ms-flexbox;
     display               : flex;
     -webkit-box-flex      : 1;
     -webkit-flex-grow     : 1;
     -ms-flex-positive     : 1;
     flex-grow             : 1;
     -webkit-flex-direction: column;
     -ms-flex-direction    : column;
     flex-direction        : column;
     gap                   : 0.75rem;
     -webkit-align-items   : flex-start;
     -webkit-box-align     : flex-start;
     -ms-flex-align        : flex-start;
     align-items           : flex-start;

     .css-1uqaien {
         display            : -webkit-box;
         display            : -webkit-flex;
         display            : -ms-flexbox;
         display            : flex;
         gap                : 0.5rem;
         -webkit-align-items: flex-start;
         -webkit-box-align  : flex-start;
         -ms-flex-align     : flex-start;
         align-items        : flex-start;

         .css-7xl85z {
             width              : 1.25rem;
             height             : 1.25rem;
             display            : inline-block;
             line-height        : 1em;
             -webkit-flex-shrink: 0;
             -ms-flex-negative  : 0;
             flex-shrink        : 0;
             color              : currentColor;
             margin-top         : 0.125rem;
         }

         .css-1aagtwh {
             display            : -webkit-box;
             display            : -webkit-flex;
             display            : -ms-flexbox;
             display            : flex;
             -webkit-align-items: center;
             -webkit-box-align  : center;
             -ms-flex-align     : center;
             align-items        : center;
             justify-items      : center;
             gap                : 0.5rem;

             .css-jqypxo {
                 color         : #AEAEB2;
                 font-size     : 0.875rem;
                 font-weight   : 400;
                 line-height   : 1.6;
                 letter-spacing: initial;
                 text-align    : justify;
             }

             .css-764ymq {
                 display      : none;
                 margin-bottom: calc(0.125rem * -1);



                 .css-1odaobc {
                     width              : 1rem;
                     height             : 1rem;
                     display            : inline-block;
                     line-height        : 1em;
                     -webkit-flex-shrink: 0;
                     -ms-flex-negative  : 0;
                     flex-shrink        : 0;
                     color              : #3385FF;
                     position           : relative;
                     top                : 0.125rem;
                 }
             }

             @media screen and (min-width: 48em) {
                 .css-764ymq {
                     display: block;
                 }
             }

             .css-7l74i4 {
                 color         : #AEAEB2;
                 font-size     : 0.875rem;
                 font-weight   : 400;
                 line-height   : 1.6;
                 letter-spacing: initial;
                 min-width     : -webkit-max-content;
                 min-width     : -moz-max-content;
                 min-width     : max-content;
                 display       : block;


             }

             @media screen and (min-width: 48em) {
                 .css-7l74i4 {
                     display: none;
                 }
             }
         }
     }
 }

 .css-164iyj1 {
     display               : -webkit-box;
     display               : -webkit-flex;
     display               : -ms-flexbox;
     display               : flex;
     -webkit-flex-direction: column;
     -ms-flex-direction    : column;
     flex-direction        : column;
     gap                   : 0.75rem;
     position              : relative;
     margin-bottom         : 0.75rem;

     .css-1v413bu {
         transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
         transition-duration       : 150ms;
         transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
         cursor                    : pointer;
         -webkit-text-decoration   : none;
         text-decoration           : none;
         outline                   : 2px solid transparent;
         outline-offset            : 2px;
         color                     : inherit;
         display                   : -webkit-inline-box;
         display                   : -webkit-inline-flex;
         display                   : -ms-inline-flexbox;
         display                   : inline-flex;
         -webkit-appearance        : none;
         -moz-appearance           : none;
         -ms-appearance            : none;
         appearance                : none;
         -webkit-align-items       : center;
         -webkit-box-align         : center;
         -ms-flex-align            : center;
         align-items               : center;
         -webkit-box-pack          : center;
         -ms-flex-pack             : center;
         -webkit-justify-content   : center;
         justify-content           : center;
         -webkit-user-select       : none;
         -moz-user-select          : none;
         -ms-user-select           : none;
         user-select               : none;
         position                  : relative;
         white-space               : nowrap;
         vertical-align            : middle;
         outline                   : 2px solid transparent;
         outline-offset            : 2px;
         border-radius             : 0.375rem;
         transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
         transition-duration       : 200ms;
         height                    : 2.5rem;
         min-width                 : 2.5rem;
         -webkit-padding-start     : 1rem;
         padding-inline-start      : 1rem;
         -webkit-padding-end       : 1rem;
         padding-inline-end        : 1rem;
         border                    : 1px solid;
         border-color              : hsl(0 0% 15%);
         color                     : rgba(255, 255, 255, 0.9);
         border-width              : 1px;
         font-weight               : 600;
         line-height               : 1;
         letter-spacing            : initial;
         font-size                 : 1rem;
         padding-top               : 1.5rem;
         padding-bottom            : 1.5rem;
         -webkit-text-decoration   : none !important;
         text-decoration           : none !important;
     }
 }

 .solutions-section {
     background-color: #0d0d0e;
     padding         : 80px 40px;
     text-align      : center;

     h2 {
         font-size              : 36px;
         margin-bottom          : 40px;
         background             : linear-gradient(90deg, #ff00c8, #00ffff);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-weight            : bold;
         font-size              : 52px;
     }

     .css-1wg1opb {
         display              : grid;
         grid-gap             : 1.5rem;
         grid-template-columns: repeat(1, minmax(0, 1fr));
         margin               : 10rem;

         .css-uth939 {
             position              : relative;
             display               : -webkit-box;
             display               : -webkit-flex;
             display               : -ms-flexbox;
             display               : flex;
             -webkit-flex-direction: column;
             -ms-flex-direction    : column;
             flex-direction        : column;
             overflow              : hidden;
             z-index               : 10;
             background            : rgba(0, 0, 0, 0.4);
             box-shadow            : 0 0 0 1px hsl(248deg 89% 79% / 15%);
             border-radius         : 8px;
             -webkit-transition    : box-shadow 300ms ease;
             transition            : box-shadow 300ms ease;

             a {
                 position: relative;
                 z-index : 1;
             }

             &:hover {
                 box-shadow: 0 0 80px hsl(248deg 89% 79% / 15%);
             }

             .css-4zb3ge {
                width: 200px; 
                height: 100px;
                object-fit: cover;
            }

             @media screen and (min-width: 62em) {
                 .css-4zb3ge {
                     height: 300px;
                 }
             }

             .css-ygyttu {
                 display                : -webkit-box;
                 display                : -webkit-flex;
                 display                : -ms-flexbox;
                 display                : flex;
                 -webkit-flex-direction : column;
                 -ms-flex-direction     : column;
                 flex-direction         : column;
                 -webkit-box-pack       : justify;
                 -webkit-justify-content: space-between;
                 justify-content        : space-between;
                 padding                : 1.5rem;
                 padding-top            : 2.5rem;
                 padding-bottom         : 2.5rem;
                 -webkit-box-flex       : 1;
                 -webkit-flex-grow      : 1;
                 -ms-flex-positive      : 1;
                 flex-grow              : 1;

                 .css-9660jd {
                     font-family            : Arial, Helvetica, sans-serif;
                     font-size              : 24px;
                     font-weight            : 700;
                     line-height            : 1.125;
                     letter-spacing         : 0.15px;
                     margin-bottom          : 1.5rem;
                     background-image       : linear-gradient(90deg, #A79AF9, #7AA8D2);
                     -webkit-background-clip: text;
                     background-clip        : text;

                     .css-14dorxq {
                         position                  : static;
                         transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
                         transition-duration       : 150ms;
                         transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
                         cursor                    : pointer;
                         -webkit-text-decoration   : none;
                         text-decoration           : none;
                         outline                   : 2px solid transparent;
                         outline-offset            : 2px;
                         color                     : inherit;

                         &::before {
                             content : '';
                             cursor  : inherit;
                             display : block;
                             position: absolute;
                             top     : 0px;
                             left    : 0px;
                             z-index : 0;
                             width   : 100%;
                             height  : 100%;
                         }

                         &:hover {
                             -webkit-text-fill-color: orange;
                             color                  : orange;
                         }

                         &:focus-visible {
                             box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
                         }
                     }
                 }

                 .css-1vhu1yz {
                     font-size     : 1rem;
                     font-weight   : 400;
                     line-height   : 1.7;
                     letter-spacing: initial;
                     color         : rgba(255, 255, 255, 0.7);
                     text-align    : justify;
                 }
             }

             @media screen and (min-width: 62em) {
                 .css-ygyttu {
                     padding: 2rem;
                 }
             }

         }

         .css-5or9b3 {
             position              : relative;
             display               : -webkit-box;
             display               : -webkit-flex;
             display               : -ms-flexbox;
             display               : flex;
             -webkit-flex-direction: column;
             -ms-flex-direction    : column;
             flex-direction        : column;
             overflow              : hidden;
             z-index               : 10;
             background            : rgba(0, 0, 0, 0.4);
             box-shadow            : 0 0 0 1px hsl(309deg 54% 81% / 15%);
             border-radius         : 8px;
             -webkit-transition    : box-shadow 300ms ease;
             transition            : box-shadow 300ms ease;

             a {
                 position: relative;
                 z-index : 1;
             }

             &:hover {
                 box-shadow: 0 0 80px hsl(309deg 54% 81% / 15%);
             }

             .css-4zb3ge {
                 object-fit: cover;
                 width     : 100%;
                 height    : 180px;
             }

             @media screen and (min-width: 62em) {
                 .css-4zb3ge {
                     height: 250px;
                 }
             }

             .css-ygyttu {
                 display                : -webkit-box;
                 display                : -webkit-flex;
                 display                : -ms-flexbox;
                 display                : flex;
                 -webkit-flex-direction : column;
                 -ms-flex-direction     : column;
                 flex-direction         : column;
                 -webkit-box-pack       : justify;
                 -webkit-justify-content: space-between;
                 justify-content        : space-between;
                 padding                : 1.5rem;
                 padding-top            : 2.5rem;
                 padding-bottom         : 2.5rem;
                 -webkit-box-flex       : 1;
                 -webkit-flex-grow      : 1;
                 -ms-flex-positive      : 1;
                 flex-grow              : 1;

                 .css-n5fnr2 {
                     font-family            : Arial, Helvetica, sans-serif;
                     font-size              : 24px;
                     font-weight            : 700;
                     line-height            : 1.125;
                     letter-spacing         : 0.15px;
                     margin-bottom          : 1.5rem;
                     background-image       : linear-gradient(90deg, #E8B3E0, #A45B99);
                     -webkit-background-clip: text;
                     background-clip        : text;

                     .css-14dorxq {
                         position                  : static;
                         transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
                         transition-duration       : 150ms;
                         transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
                         cursor                    : pointer;
                         -webkit-text-decoration   : none;
                         text-decoration           : none;
                         outline                   : 2px solid transparent;
                         outline-offset            : 2px;
                         color                     : inherit;

                         &::before {
                             content : '';
                             cursor  : inherit;
                             display : block;
                             position: absolute;
                             top     : 0px;
                             left    : 0px;
                             z-index : 0;
                             width   : 100%;
                             height  : 100%;
                         }

                         &:hover {
                             -webkit-text-fill-color: orange;
                             color                  : orange;
                         }

                         &:focus-visible {
                             box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
                         }
                     }
                 }

                 .css-1vhu1yz {
                     font-size     : 1rem;
                     font-weight   : 400;
                     line-height   : 1.7;
                     letter-spacing: initial;
                     color         : rgba(255, 255, 255, 0.7);
                     text-align    : justify;
                 }
             }
         }
     }

     @media screen and (min-width: 62em) {
         .css-1wg1opb {
             grid-template-columns: repeat(3, minmax(0, 1fr));
         }
     }

 }

 .css-4zb3ge {
     object-fit: cover;
     width     : 100%;
     height    : 180px;
 }

 .css-ygyttu {
     display                : -webkit-box;
     display                : -webkit-flex;
     display                : -ms-flexbox;
     display                : flex;
     -webkit-flex-direction : column;
     -ms-flex-direction     : column;
     flex-direction         : column;
     -webkit-box-pack       : justify;
     -webkit-justify-content: space-between;
     justify-content        : space-between;
     padding                : 1.5rem;
     padding-top            : 2.5rem;
     padding-bottom         : 2.5rem;
     -webkit-box-flex       : 1;
     -webkit-flex-grow      : 1;
     -ms-flex-positive      : 1;
     flex-grow              : 1;

     .css-9660jd {
         font-family            : Arial, Helvetica, sans-serif;
         font-size              : 24px;
         font-weight            : 700;
         line-height            : 1.125;
         letter-spacing         : 0.15px;
         margin-bottom          : 1.5rem;
         background-image       : linear-gradient(90deg, #A79AF9, #7AA8D2);
         -webkit-background-clip: text;
         background-clip        : text;

         .css-14dorxq {
             position                  : static;
             transition-property       : background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
             transition-duration       : 150ms;
             transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
             cursor                    : pointer;
             -webkit-text-decoration   : none;
             text-decoration           : none;
             outline                   : 2px solid transparent;
             outline-offset            : 2px;
             color                     : inherit;

             &::before {
                 content : '';
                 cursor  : inherit;
                 display : block;
                 position: absolute;
                 top     : 0px;
                 left    : 0px;
                 z-index : 0;
                 width   : 100%;
                 height  : 100%;
             }

             &:hover {
                 -webkit-text-fill-color: orange;
                 color                  : orange;
             }

             &:focus-visible {
                 box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
             }
         }
     }

     .css-1vhu1yz {
         font-size     : 1rem;
         font-weight   : 400;
         line-height   : 1.7;
         letter-spacing: initial;
         color         : rgba(255, 255, 255, 0.7);
         text-align    : justify;
     }
 }

 @media screen and (min-width: 62em) {
     .css-ygyttu {
         padding: 2rem;
     }
 }

 @media screen and (min-width: 62em) {
     .css-4zb3ge {
         height: 250px;
     }
 }