.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 42px;
  }

.card{
    border-radius: 0px; 
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
    text-align: justify;
    display: grid;
}
.card-img-top{
    height: 50%;
}